.visualizer {
    background-color: white;
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 80%;
    height: 40%;
}

.card {
    background-color: rgb(198, 255, 193);
    padding: 1px 3px;
    width: 200px;
    height: 300px;
    text-align: center;
    border-color: #120023;
    border-style: solid;
    border-width: 5px;
    margin: 2px;
}

.sequenceCard.Melody {
    background-color: rgb(120, 8, 224);
}

.sequenceCard.MelodyGenerator {
    background-color: rgb(179, 125, 230);
}

.sequenceCard.Drums {
    background-color: rgb(33, 30, 36);
}

.sequenceCard.DrumsGenerator {
    background-color: rgb(70, 70, 70);
}

.sequenceCard.MelodyInterpolator {
    background-color: rgb(75 155 255);
}

.sequenceCard.VariationsCard {
    background-color: #27a615;
}

.EditorCard {
    background-color: #00ff3e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editorCardIcon {
    transform: translate(16%, -17%) scale(1.5);
}

.ContinueCard {
    background-color: #ff9100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continueCardIcon {
    transform: translate(13%, -1%) scale(2.2);
}

.card.highlighted {
    border-style: dashed;
    border-color: #ff6a00;
    background-color: #64cc00;
}

.sequenceCard p {
    color: white;
    font-weight: bold;
    font-size: 14pt;
}

.cardHolder {
    display: flex;
    flex-wrap: wrap;
    transform: perspective(150px) rotateX(1deg);
    margin: 20px;
}

.timeline {
    overflow-x: scroll;
    overflow-y: visible;
}

.timeline .playbackControlsContainer {
    position: absolute;
    left: calc(50% - 4rem); /* 50-(playbackBtn's width + 2*playbackBtn's margin) */
    z-index: 1;
}

.timelinePlaybackBtn {
    font-size: 2rem;
    background: #35002c;
    border: solid 1px white;
    margin: 0px 0.5rem;
    width: 3rem;
    height: 3rem;
}

.timelinePlaybackPlay {
    color: lawngreen;
}

.timelinePlaybackStop {
    color: red;
}

.track {
    width: fit-content;
    height: 100px;
    background-color: rgb(235, 117, 8);
    margin: 3px;
    display: flex;
}

.timelineStep {
    min-width: 8px;
    background-color: coral;
}

.timelineStep.highlighted {
    background-color: blue;
}

/* Those values were defined completely heuristically */
/* https://jsfiddle.net/HenriAugusto/42z1thuv/42/ */
.deckIcon {
    width: 10vmin;
    height: 10vmin;
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    right: 0;
    bottom: 0;
}

.deckIcon.outOfCards {
    filter: saturate(0);
}

.deckIconComponent {
    background-color: magenta;
    border-style: solid;
    border-color: black;
    border-width: 2vmin 1vmin;
    width: 61.8%;
    height: 100%;
    margin: 0 0 -124% 0;
    transform: translate(-1vmin, -9vmin) perspective(66vmin) rotateX(75deg) scale(1.25);
    opacity: 1.5;
    box-shadow: 0 0.9vmin 0.5vmin 0.2vmin #3a008e78;
}

/* ----- buttons ----- */

.loadBtn {
    width: 8.09vw;
    height: 5vh;
    background: #6a009b;
    font-weight: bold;
    bottom: 10px;
    left: 40vw;
    color: white;
}

.saveBtn {
    width: 8.09vw;
    height: 5vh;
    color: white;
    background: #f722f7;
    font-weight: bold;
    bottom: 10px;
    right: 40vw;
}

#mainMenu {
    height: 10vh;
    width: 33vw;
    position: fixed;
    left: 33vw;
    bottom: -7vh;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    background: #171717;
    transition: bottom 0.25s;
    color: white;
}

#mainMenu:hover {
    bottom: 0;
}

#nameInput {
    border: none;
    font-size: 2rem;
}